/* src/app/blogs/signs-your-home-needs-a-repaint-new-braunfels-tx/page.module.scss */
.pageWrapper {
  min-height: 500px;
  padding: 60px 20px;
  background: #111;
  color: #b1de00;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
